<script>
    var level_m_2 = [{% for item in vib[1] %}
                        [{% for k in item %} 
                            "{{k}}", 
                        {% end %} ],
                    {% end %} ];

    var level_m_3 = [{% for item in vib[2] %}
                        [{% for item2 in item %}
                            [{% for item3 in item2 %} 
                                "{{item3}}", 
                            {% end %} ],
                        {% end %} ],
                    {% end %}];

    var level_m_4 = [{% for item in vib[3] %}
                        [{% for item2 in item %}
                            [{% for item3 in item2 %}
                                [{% for item4 in item3 %} 
                                "{{item4}}", 
                                {% end %} ],
                            {% end %} ],
                        {% end %} ],
                    {% end %} ];

    var level_m_5 = [{% for item in vib[4] %}
                        [{% for item2 in item %}
                            [{% for item3 in item2 %}
                                [{% for item4 in item3 %}
                                    [{% for item5 in item4 %}
                                     "{{item5}}",
                                    {% end %}],
                                {% end %} ],
                            {% end %} ],
                        {% end %} ],
                    {% end %} ];

    var set_rasdels = []
    var str_data = ''

    level_1.onchange = function() 
    {
    level_2.disabled = false; 
    level_2.innerHTML = "<option value='0'>Выбрать все</option>";
    level_3.innerHTML = "<option value='0'>Выбрать все</option>";
    level_4.innerHTML = "<option value='0'>Выбрать все</option>";
    level_5.innerHTML = "<option value='0'>Выбрать все</option>";
    myregion = this.value - 1;
    if (myregion != -1) 
        {
            for (var i = 0; i < level_m_2[myregion].length; i++)
            { 
                level_2.innerHTML +='<option value="' + (i + 1) + '">' + level_m_2[myregion][i] + '</option>';
                level_3.disabled=false; 
            }
        } 
    else 
        { 
            level_2.disabled=true;
            level_3.disabled=true; 
        } 
        mes_one.innerHTML='<h3 style="color:red;">Установите ограничения !!!</h3>';
        set_rasdels.length = 0;
        str_data = JSON.stringify({"data_res":set_rasdels});
        document.getElementById('stay_limitid').value = str_data;
    }
     

    level_2.onchange=function() 
    { 
        level_m_3.disabled=false;
        level_3.innerHTML="<option value='0'>Выбрать все</option>" ;
        level_4.innerHTML="<option value='0'>Выбрать все</option>" ;
        level_5.innerHTML="<option value='0'>Выбрать все</option>" ;
        mycite=this.value - 1;
        if (mycite !=- 1)
            {
                for (var i=0 ; i < level_m_3[myregion][mycite].length; i++)
                    {
                    level_3.innerHTML +='<option value="' + (i + 1) + '">' + level_m_3[myregion][mycite][i] + '</option>';
                    level_4.disabled=false;
                    }
            }
        else
            {
                level_3.disabled=true;
            }
            mes_one.innerHTML='<h3 style="color:red;">Установите ограничения !!!</h3>';
            set_rasdels.length = 0;
            str_data = JSON.stringify({"data_res":set_rasdels});
            document.getElementById('stay_limitid').value = str_data;
    } 


    level_3.onchange=function()
    { 
        level_m_4.disabled=false; 
        level_4.innerHTML="<option value='0'>Выбрать все</option>";
        level_5.innerHTML="<option value='0'>Выбрать все</option>" ; 
        ind_level_4=this.value - 1; 
        if (ind_level_4 !=- 1) 
            { 
                for (var i=0 ; i < level_m_4[myregion][mycite][ind_level_4].length; i++)
                { 
                 level_4.innerHTML +='<option value="' + (i + 1) + '">' + level_m_4[myregion][mycite][ind_level_4][i] + '</option>'; 
                 level_5.disabled=false; 
                } 
            } 
        else 
            { 
                level_4.disabled=true; 
            } 
            mes_one.innerHTML='<h3 style="color:red;">Установите ограничения !!!</h3>';
            set_rasdels.length = 0;
            str_data = JSON.stringify({"data_res":set_rasdels});
            document.getElementById('stay_limitid').value = str_data;
    } 


    level_4.onchange=function() 
    { 
        
        level_5.innerHTML="<option value='0'>Выбрать все</option>";
        level_m_5.disabled=false; 
        ind_level_5=this.value - 1; 
        if (ind_level_5 !=- 1) 
            { 
                for (var i=0 ; i < level_m_5[myregion][mycite][ind_level_4][ind_level_5].length; i++) 
                { 
                    level_5.innerHTML +='<option value="' + (i + 1) + '">' + 
                    level_m_5[myregion][mycite][ind_level_4][ind_level_5][i] + '</option>'; 
                } 

            } 
        else 
            { 
                level_5.disabled=true; 
            } 
            mes_one.innerHTML='<h3 style="color:red;">Установите ограничения !!!</h3>';
            set_rasdels.length = 0;
            str_data = JSON.stringify({"data_res":set_rasdels});
            document.getElementById('stay_limitid').value = str_data;
    } 

        level_5.onchange=function() 
    {
        mes_one.innerHTML='<h3 style="color:red;">Установите ограничения !!!</h3>';
        set_rasdels.length = 0;
        str_data = JSON.stringify({"data_res":set_rasdels});
        document.getElementById('stay_limitid').value = str_data;
    }

$(function() {
      $('form').submit(function(e) {

        //Функция по нажатию кнопки "Установить" читает все установленные ограничения, 
        //создает JSON и передает его на сервер
        
        set_rasdels.length = 0;
        set_rasdels.push(document.getElementById( "level_1").value);
        set_rasdels.push(document.getElementById( "level_2").value);
        set_rasdels.push(document.getElementById( "level_3").value);
        set_rasdels.push(document.getElementById( "level_4").value);
        set_rasdels.push(document.getElementById( "level_5").value); 
        str_data = JSON.stringify({"data_res":set_rasdels});
        document.getElementById('stay_limitid').value = str_data;
        mes_one.innerHTML='<h3 style="color:blue;">Ограничения установлены !!!</h3>'
        var $form = $(this);
        $.ajax({
                  type: $form.attr('method'),
                  url: $form.attr('action'),
                  data: $form.serialize()
                }).done(function() {
                  console.log('success');
                }).fail(function() {
                  console.log('fail');
                });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();     
      });
    });

</script>