{% set i=0 %} 
{% for vib_dzo in first_vol%} 
    {% set i = i+1 %}
    <div class="col-md-2">
        <div>
            <form action="/" method="post" name="ur_one">
                {% if i == 1 %}
                        <select id="level_{{str(i)}}" name="sel_ur_{{str(i)}}" style="width:100%">
                                        <option value="{{vib_dzo[0]}}">{{vib_dzo[1]}}</option>
                                         {% for num_p in vib[0][0]%}
                                            <option value="{{num_p}}">{{vib[0][1][num_p-1]}}</option>
                                         {% end%}
                        </select> 
                {% else %}
                    <p>
                        <select id="level_{{str(i)}}" name="sel_ur_{{str(i)}}" style="width:100%">
                                <option value="{{vib_dzo[0]}}">{{vib_dzo[1]}}</option>
                        </select> 
                    </p>
                {% end%} 
            </form>
        </div>
    </div>
{% end%} 