app/templates/banners
data_set/высш_образ_за_территорией_Москвыdata-28952-2021-05-21.zip
data_set/Высш_образ_на_территории_Москвыdata-28943-2021-05-21.zip
data_set/Муз_образ_орган_data-7382-2021-05-21.zip
data_set/Негосударст_образ_орган_data-6324-2021-05-24.zip
data_set/образовательные_учереждения_data-54518-2021-05-28.json
data_set/общепит_data-4275-2021-06-01.csv
data_set/общепит_data-4275-2021-06-01.json
data_set/общественное_питание_data-4275-2021-05-28.csv
data_set/общественное_питание_data-4275-2021-05-28.json
data_set/Организации_дополнит_образdata-26769-2021-05-17.zip
data_set/all_rest.csv
data_set/cinemas.csv
data_set/circus.csv
data_set/concertHalls.csv
data_set/csvData (2).rar
data_set/education.csv
data_set/href_restoraunts_1.csv
data_set/monuments.csv
data_set/museums.csv
data_set/parks.csv
data_set/остановки/остановки_1_data-101781-2021-05-27.json
data_set/остановки/остановки_2_data-398-2021-05-28.json
data_set/остановки/пересадочные_узлы_data-414-2021-03-17.json
data_set/парковки/перехватывающие_парковки_data-2784-2021-05-18.json
data_set/парковки/платные_парковки_закрытые_data-6028-2021-05-17.json
data_set/парковки/платные_парковки_data-4905-2021-03-09.json
