<div class="panel-body">
	<h6 class="panel-title"><b>Точки подключаения:</b></h6>
	<h7>
		{% if attachment_point_ur_face + attachment_point_fiz_face == 0 %} 
		Отсутствуют данные о точках подключаения <br>
		{% else %}
		<text style="float: left;"><b>Всего точек </b> </text> <br>
		<text style="float: left;"><b>подключения:</b> </text> <text style="float: right;"> {{attachment_point_ur_face + attachment_point_fiz_face}} </text> <br>
		{% if attachment_point_ur_face != 0 %}
		<text style="float: left;">Точки подключаения</text> <br>
		<text style="float: left;">юридических лиц:</text> <text style="float: right;"> {{attachment_point_ur_face}}</text> <br>
		{% else %}
		<text style="float: left;">Точки подключаения</text> <br>
		<text style="float: left;">юридических лиц:</text> 
		<text style="float: right;"> Данные отсутствуют</text> <br>
		{% end %}
		{% if attachment_point_fiz_face != 0 %}
		<text style="float: left;">Точки подключаения</text> <br>
		<text style="float: left;">физичиских лиц:</text> <text style="float: right;"> {{attachment_point_fiz_face}}</text> 
		<br>
		{% else %}
		<text style="float: left;">Точки подключаения</text> <br>
		<text style="float: left;">физичиских лиц:</text> <text style="float: right;"> Данные отсутствуют</text> <br>
		{% end %}
	{% end %}
</h7>
</div>
