<div class="panel-body">
	<h6 class="panel-title"><b>Потребление электроэнергии за месяц:</b></h6>
	<h7>
		{% if summ_elec == 0 %} 
		Отсутствуют данные о потребление электроэнергии <br>
		{% else %}
		<text style="float: left;"><b>Всего потребления: </b> </text> <br>
		<text style="float: right;"> {{summ_elec}} МВт</text> <br>
		{% if ur_electricity != 0 %}
		<text style="float: left;">Потребление электроэнергии</text> <br>
		<text style="float: left;">юридических лиц:</text> <text style="float: right;"> {{ur_electricity}} МВт</text> <br>
		{% else %}
		<text style="float: left;">Потребление электроэнергии</text> <br>
		<text style="float: left;">юридических лиц:</text> 
		<text style="float: right;"> Данные отсутствуют</text> <br>
		{% end %}
		{% if fiz_electricity != 0 %}
		<text style="float: left;">Потребление электроэнергии</text> <br>
		<text style="float: left;">физичиских лиц:</text> <text style="float: right;"> {{fiz_electricity}} МВт</text> 
		<br>
		{% else %}
		<text style="float: left;">Потребление электроэнергии</text> <br>
		<text style="float: left;">физичиских лиц:</text> <text style="float: right;"> Данные отсутствуют</text> <br>
		{% end %}
	{% end %}
</h7>
</div>
