 <div id="grafity_2">
         <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ["Вид ", "Кол-во", { role: "style" } ],
        ["Юр. лица", {{ul}}, "#b87333"],
        ["Физ. лица", {{fl}}, "silver"],
        ["Неопр. лица", {{nl}}, "gold"]
       ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Распределение по видам лиц",
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };

      var chart = new google.visualization.BarChart(document.getElementById("grafity_2"));
      chart.draw(view, options);
        }
    </script>
    </div>
