{% extends "bases_moduls/base.html" %}

{% block head %}
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       <link href="/static/css/first_style.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block work_area %}
	<div>
	<h2 class="text-center">{{title}}</h2> <br></div>
	<br><br>
    <div class="row equal-cols" style="text-align: center;">
         {% include 'includes_graf.html' %}
    </div>
	<br>
	    <div class="row equal-cols" style="text-align: center; ">
	         <div class="col-md-6" >
	            <div style="border:1px solid #000000; width:99%;">
                    <br>
	            	<b>	Средние значения </b><br><br>
                        Среднее значения трафка возле вашей точки в час - {{ avg_params_first[0] }}<br><br>
                        Средняя популярность вашей точки в час - {{ avg_params_first[1] }}<br><br>
                        Средняя активность возле вашей точки в час - {{ avg_params_first[2] }}<br><br>
	            </div>
	        </div>

	        <div class="col-md-6" >
	            <div style="border:1px solid #000000; width:99%;">
                    <br>
	            	<b>	Средние значения </b><br><br>
                        Среднее кол-во клиентов пребывающих возле точки в течение 15 мин. - {{ avg_params_second[0] }}<br><br>
                        Среднее кол-во клиентов пребывающих возле точки в течение 30 мин. - {{ avg_params_second[1] }}<br><br>
                        Среднее кол-во клиентов пребывающих возле точки в течение 1 часа - {{ avg_params_second[2] }}<br><br>
	            </div>
	        </div>
	     </div>

{% endblock %}
