{% extends "bases_moduls/base.html" %}

{% block head %}
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script src="https://maps.api.2gis.ru/2.0/loader.js"></script>
      <link href="/static/css/first_style.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block work_area %}
	<div>
	<h2 class="text-center">{{title}}</h2> <br></div>
	<div class="row">
	    <div class="col-md-6">
	    </div>
	</div>
	<br><br>
    <div class="row equal-cols" style="text-align: center;">
         {% include 'includes_graf.html' %}
    </div>
	<br>
	    <div class="row equal-cols" style="text-align: center; ">
	         <div class="col-md-6" >
	            <div style="border:1px solid #000000; width:99%;">
                    <br>
	            	<b>	Параметры пешеходного трафика </b><br><br>
                        Параметр №1<br><br>
                        Параметр №2<br><br>
                        Параметр №3<br><br>
                        Параметр №4<br><br>
	            </div>
	        </div>

	        <div class="col-md-6" >
	            <div style="border:1px solid #000000; width:99%;">
                    <br>
	            	<b>	Параметры популярности места </b><br><br>
                        Параметр №1<br><br>
                        Параметр №2<br><br>
                        Параметр №3<br><br>
                        Параметр №4<br><br>
	            </div>
	        </div>
	     </div>

{% endblock %}
