{% extends "bases_moduls/base.html" %}

{% block work_area%}
<div style="padding-left:10%">
    <p><h2 class="text-center"> Получение координат по адресу </h2></p>
    <p></p>
    <p>Введите свой адрес и получите координаты.</p>
        <form action="/ask_coord/" method="post">
            <p>
                <label for="ask_coord">Ваш адрес:</label>
                <input type="text" size="80%" name="ask_coord" value="{{ message_task }}">
            </p>
            <p>
                <label for="answer">Ваши координаты:
                 {% if message!='no' %}
                    {{ message }}
                    <p>Ваш точный адрес : {{ message_p }}</p>
                {% end%}
                </label>
            </p>
            <p> <input type="submit" name="coordin" value="Получить координаты"> </p>
            {% raw xsrf_form_html() %}
        </form>
        <form action="/coord/" method="post">
            <input type="submit" name="index" value="Очистить">
            {% raw xsrf_form_html() %}
        </form>

</div>
{% end %}