{% extends "bases_moduls/base.html" %}

{% block work_area%}
<style type="text/css">
    .form {
        margin: 0 auto;
      padding: 1em;
      border:1px solid #000000;
        width: 550px;
    }

    .form ul {
        margin: 0 20px;
      list-style: none;
      padding: 20px 0 40px 0;
    }

    .form li + li {
      margin-top: 1em;
    }

    label {
      display: inline-block;
      width: 200px;
    }

    input {
      font: 1em sans-serif;
      width: 200px;
      box-sizing: border-box;
      border: 1px solid #999;
        padding: 5px;
        float: right;
    }

    .solid_button {
        width: 200px;
    }

    input:focus {
      border-color: #000;
    }
</style>

<div>
    <div>
        <h2 class="text-center">{{title}}</h2> <br>
    </div>
    <form class="form" name="form_auth" method="post">
        <ul>
            <li>
                <label for="employees">Количество сотрудников</label>
                <input id="employees" name="EMPLOYEES" type="text">
            </li>
            <li>
                <label for="affiliate">Количество филиалов</label>
                <input id="affiliate" name="AFFILIATE" type="text">
            </li>
            <li>
                <label for="records_from_tax_office">Все показатели с налоговой по ИНН</label>
                <input id="records_from_tax_office" name="RECORDS_FROM_TAX_OFFICE" type="text">
            </li>
            <li>
                <label for="fair_business_data">Данные с сайта за честный бизнес</label>
                <input id="fair_business_data" name="FAIR_BUSINESS_DATA" type="text">
            </li>
            <input type="submit" name="ZarLogin" class="solid_button login_button" value="Записать" formaction="/fin_data" />
        </ul>
    </form>
</div>

{% endblock %}
