<div class="col-md-6">
    <div id="graf_potr_1" style="border:1px solid #000000; max-width:99%;">
        <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        var dataisjs = [];

        function drawChart() {

            var data_mass =[];
            data_mass.push(['{{ first_mass[0] }}', '{{ first_mass[1] }}', '{{ first_mass[2] }}', '{{ first_mass[3] }}']);

            {% for itok in data_user_first[0]['date'] %}
                data_mass.push([{{data_user_first[0]['date'][loop.index]}},
                    {{data_user_first[0]['data'][loop.index]}},
                    {{data_user_first[0]['data_max_power'][loop.index]}},
                    {{data_user_first[0]['data_qv75'][loop.index]}}
                ]);

            {% endfor %}
            console.log(data_mass);
            var data = google.visualization.arrayToDataTable(data_mass);

            var options = {
                title: '{{ graf_title_first }}',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('graf_potr_1'));

            chart.draw(data, options);
        }

        </script>
    </div>
</div>


<div class="col-md-6">
    <div id="graf_potr_2" style="border:1px solid #000000; max-width:99%;">
        <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      var dataisjs = [];

      function drawChart() {

        var data_mass =[];
        data_mass.push(['{{ second_mass[0] }}', '{{ second_mass[1] }}', '{{ second_mass[2] }}', '{{ second_mass[3] }}']);

        {% for itok in data_user_second[0]['date'] %}
            data_mass.push([{{data_user_second[0]['date'][loop.index]}},
                {{data_user_second[0]['data'][loop.index]}},
                {{data_user_second[0]['data_max_power'][loop.index]}},
                {{data_user_second[0]['data_qv75'][loop.index]}}
            ]);

        {% endfor %}

        var data = google.visualization.arrayToDataTable(data_mass);

        var options = {
          title: '{{ graf_title_second }}',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('graf_potr_2'));

        chart.draw(data, options);
      }

        </script>
    </div>
</div>
