<div class="col-md-6">
    <div id="graf_potr_1" style="border:1px solid #000000; max-width:99%;">
        <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        var dataisjs = [];

        function drawChart() {

            var data_mass =[];
            data_mass.push(['Дата', 'Потр. по часам','Заяв. мощ.', 'Квант. 75']);

            {% for itok in data_user[0]['date'] %}
                data_mass.push([{{data_user[0]['date'][loop.index]}},
                    {{data_user[0]['data'][loop.index]}},
                    {{data_user[0]['data_max_power'][loop.index]}},
                    {{data_user[0]['data_qv75'][loop.index]}}
                ]);

            {% endfor %}
            console.log(data_mass);
            var data = google.visualization.arrayToDataTable(data_mass);

            var options = {
                title: 'График пешеходного трафика по часам',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('graf_potr_1'));

            chart.draw(data, options);
        }

        </script>
    </div>
</div>


<div class="col-md-6">
    <div id="graf_potr_2" style="border:1px solid #000000; max-width:99%;">
        <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      var dataisjs = [];

      function drawChart() {

        var data_mass =[];
        data_mass.push(['Дата', 'Потр. по часам','Заяв.', 'Квант. 75']);

        {% for itok in data_user[0]['date'] %}
            data_mass.push([{{data_user[0]['date'][loop.index]}},
                {{data_user[0]['data'][loop.index]}},
                {{data_user[0]['data_max_power'][loop.index]}},
                {{data_user[0]['data_qv75'][loop.index]}}
            ]);

        {% endfor %}

        var data = google.visualization.arrayToDataTable(data_mass);

        var options = {
          title: 'График пешеходного трафика по часам',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('graf_potr_2'));

        chart.draw(data, options);
      }

        </script>
    </div>
</div>
