{% extends "bases_moduls/base.html" %}

{% block work_area%}
<style type="text/css">
    .form {
        margin: 0 auto;
      padding: 1em;
      border:1px solid #000000;
        width: 950px;
    }

    .form ul {
        margin: 0 20px;
      list-style: none;
      padding: 20px 0;
    }

    .form li + li {
      margin-top: 1em;
    }

    label {
      display: inline-block;
      width: 200px;
    }

    input {
      font: 1em sans-serif;
      width: 200px;
      box-sizing: border-box;
      border: 1px solid #999;
        padding: 5px;
    }

    .solid_button {
        width: 100%;
        margin-top: 11px;
    }

    input:focus {
      border-color: #000;
    }
</style>

<div>
    <div>
	    <h2 class="text-center">{{title}}</h2> <br>
    </div>
    <form class="form" name="form_auth" method="post" style="display: flex">
        <ul>
            <li>
                <label for="name_user">Название организации</label>
                <input id="name_user" name="USER_NAME" type="text">
            </li>
            <li>
                <label for="all_activities">Все виды деятельности объявленные при регистрации</label>
                <input id="all_activities" name="ALL_ACTIVITIES" type="text">
            </li>
            <li>
                <label for="dislocation_address">Адрес дислокации</label>
                <input id="dislocation_address" name="DISLOCATION_ADDRESS" type="text">
            </li>
            <li>
                <label for="INN">ИНН</label>
                <input id="INN" name="INN" type="text">
            </li>
            <li>
                <label for="OGRN">ОГРН</label>
                <input id="OGRN" name="OGRN" type="text">
            </li>
            <li>
                <label for="activity">Вид деятельности</label>
                <input id="activity" name="ACTIVITY" type="text">
            </li>
        </ul>
        <ul>
            <li>
                <label for="legal_address">Юридический адрес</label>
                <input id="legal_address" name="USER_ADRESS" type="text">
            </li>
            <li>
                <label for="boss">Руководитель</label>
                <input id="boss" name="BOSS" type="text">
            </li>
            <li>
                <label for="sex">Пол</label>
                <input id="sex" name="SEX" type="text">
            </li>
            <li>
                <label for="age">Возраст</label>
                <input id="age" name="AGE" type="text">
            </li>
            <li>
                <label for="education">Образование</label>
                <input id="education" name="EDUCATION" type="text">
            </li>
            <li>
                <label for="authorized_capital">Уставной капитал</label>
                <input id="authorized_capital" name="AUTHORIZED_CAPITAL" type="text">
            </li>
            <input type="submit" name="ZarLogin" class="solid_button login_button" value="Записать" formaction="/legal_data" />
        </ul>
    </form>
</div>

{% endblock %}
