{% extends "bases_moduls/base.html" %}

{% block work_area%}

<!-- Заголовок ---->
{% include 'com_head.html' %}
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr style="width: 100%; height: 50px;"></tr>
            <tr>
                <td style="width: 30%;">
                        <div style="padding-left:10%;">
                            <form method="post">
                                <input type="checkbox" name="type_obj" value="theatres" id="theatres"/>
                                <label for="theatres">Театры</label><br>
                                <input type="checkbox" name="type_obj" value="museums" id="museums"/>
                                <label for="museums">Музеи</label><br>
                                <input type="checkbox"  name="type_obj" value="food" id="food"/>
                                <label for="food">Рестораны</label><br>
                                <input type="checkbox"  name="type_obj" value="theatres" id="cinemas"/>
                                <label for="cinemas">Кинотеатры</label><br>
                                <input type="checkbox" name="type_obj" value="circus" id="circus"/>
                                <label for="circus">Цирки</label><br>
                                <input type="checkbox" name="type_obj" value="concert_halls" id="concert_halls"/>
                                <label for="concert_halls">Концертные залы</label><br>
                                <input type="checkbox"  name="type_obj" value="monuments" id="monuments"/>
                                <label for="monuments">Памятники</label><br>
                                <input type="checkbox"  name="type_obj" value="education" id="education"/>
                                <label for="education">Образовательное учреждение</label><br>
                                <input type="checkbox"  name="type_obj" value="parks" id="parks"/>
                                <label for="parks">Парки</label><br>

                                <input type="checkbox"  name="type_obj" value="builts" id="builts"/>
                                <label for="builts">Плотность застройки</label><br>

                                <input type="checkbox"  name="type_obj" value="popular_place" id="popular_place"/>
                                <label for="popular_place">Популярность места</label><br>

                                <input type="checkbox"  name="type_obj" value="activity_peaple" id="activity_peaple"/>
                                <label for="activity_peaple">Пешеходня активность</label><br>

                                <input type="checkbox"  name="type_obj" value="data_wifi" id="data_wifi"/>
                                <label for="data_wifi">Плотность точек Wi-fi</label><br><br>
                                <input type="submit">
                            </form>
                        </div>
                  </td>
                {% block map %}
                    <td style="width: 50%;">
                        <div id="map" style="width: 100%; height: 600px;">
                            <script type="text/javascript">
                                let lcc={{lcc}};
                                let pcc={{pcc}};
                                let zz={{zoom}};
                                let start_width = {{start_width}};
                                let start_long = {{start_long}};
                                let end_width = {{end_width}};
                                let end_long = {{end_long}};
                                let leng_side = {{leng_side}};
                                let kol_sqrt_width = {{kol_sqrt_width}};
                                let kol_sqrt_long = {{kol_sqrt_long}};
                                let koef_lend = {{koef_lend}};
                                //let width = abs(start_width - end_width);
                                DG.then(function() {
                                   var map;
                                   var myIcon_red = DG.icon({
                                                    iconUrl: "../static/red_icon.png",
                                                    iconSize: [30, 40],
                                                    iconAnchor: [0, 30],
                                                });

                                    //var myIcon_blue = DG.icon({
                                    //                iconUrl: "../static/blue_icon.png",
                                    //                iconSize: [40, 40],
                                    //                iconAnchor: [-20, 30],
                                    //            });


                                    map =DG.map('map', {
                                        center: [lcc,pcc],
                                        zoom: zz
                                    });

                                    var bounds = [[start_width,start_long], [end_width,end_long]];
                                    var ww, ll;


                                    var bounds2 = [];

                                    for (ww=0; ww<kol_sqrt_width; ww++) {
                                        for (ll=0; ll<kol_sqrt_long; ll++){
                                            bounds2 = [[start_width - 0.0009*ww*koef_lend,
                                                        start_long + 0.0016*ll*koef_lend],
                                                        [start_width - 0.0009 * (ww + 1) * koef_lend,
                                                        start_long + 0.0016 * (ll + 1) * koef_lend]];
                                            DG.rectangle(bounds2, {color: "#000000", weight: 0.2}).addTo(map);
                                            map.fitBounds(bounds2);
                                        }
                                    }
                                    DG.rectangle(bounds, {color: "#ff7800", weight: 1}).addTo(map);
                                    map.fitBounds(bounds);

                                    //myDivIcon = DG.divIcon({
                                    //    iconSize: [70, 20],
                                   //     html: '<b style="color:blue;">Объект с 15 подключениями</b>'
                                    //});

                                    //DG.marker([lcc,pcc],{icon: myIcon_red}).addTo(map).bindPopup('Вы кликнули по мне!');
                                });
                            </script>
                        </div>
                    </td>
                {% endblock %}
                {{ self.map() }}
                <td style="width: 20%;">
                </td>
            </tr>
        </table>
{% endblock %}
