{% extends "bases_moduls/base.html" %}
{% block lef_menu_block_one%}
Содержание справочника
{%end%}
{% block lef_menu_block_two%}
    <div class="dropdown" style="color: #005999;">
        <h5 class="dropdown-toggle" data-toggle="dropdown">Базы данных <b class="caret"></b>
        </h5>
        <ul class="dropdown-menu">
        <li><a href="#">baza 1</a></li>
        <li><a href="#">baza 2</a></li>
        <li><a href="#">baza 3</a></li>
            <li><a href="#">baza 4 </a></li>
        </ul>
    </div>
{%end%}
{% block work_area%}
Справочник терминов
{%end%}