{% extends "bases_moduls/base.html" %}
{% block title%}
{{title}}
{%end%}
{% block head%}
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script src="https://maps.api.2gis.ru/2.0/loader.js"></script>
      <link href="/static/css/first_style.css" type="text/css" rel="stylesheet"/>
{% end%}
{% block lef_menu_block_two%}
<div class="dropdown" style="color: #005999;">
    <h5 class="dropdown-toggle" data-toggle="dropdown">Абоненты <b class="caret"></b>
    </h5>
    <ul class="dropdown-menu">

        <div>
            <form action="/optimisetion_analis/" method="post" name="potreb">
                     <select id="users" name="users" style="width:100%">
                                         {% for num_p in users%}
                                            <option value="{{num_p}}">{{num_p}} счетчиков {{users[num_p]['sch_kol']}}</option>
                                         {% end%}
                      </select> 
             <p> <br><input type="submit" name="coordin" value="Провести анализ"> </p>
            </form>
        </div>
    </ul>
</div>
{% end%}

{% block work_area%}
	<div>
		<h2 class="text-center">{{title}}</h2> <br></div>
	<div>
		<h3 class="text-center">Выберите абонента</h3> <br></div>
{%end%}
