{% extends "../bases_moduls/base.html" %}
{% block head%}
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script src="https://maps.api.2gis.ru/2.0/loader.js"></script>
      <link href="/static/css/first_style.css" type="text/css" rel="stylesheet"/>
{% end%}
{% block lef_menu_block_three%}
    <br>
    <div class="h-divider">
    </div>
    <br>
    <h5 style="color: #005999;"><b>Визуализация данных</b></h5>
    <br>
    <a href="/vision/">Общие характеристики</a>
{% end%}

{% block work_area%}
    <div class="row">
        <div class="col-md-12">
                <h2 style="text-align: center">{{name_podrz}}</h2>
            </div>
    </div>
    <br>
    <div class="row equal-cols" style="text-align: center;">
         <div class="col-md-2">
            <div class="panel panel-primary">
                {% include banners/banner_1.html  %}
            </div>
        </div>
        <div class="col-md-2 ">
            <div class="panel panel-primary">
                {% include banners/banner_2.html  %}
            </div>
          </div>
         <div class="col-md-2 ">
            <div class="panel panel-primary ">
                {% include banners/banner_3.html  %}
            </div>
           </div>
         <div class="col-md-2 " >
             <div class="panel panel-primary">
                {% include banners/banner_4.html %}
             </div>
         </div>
         <div class="col-md-2 " >
            <div class="panel panel-primary">
                {% include banners/banner_5.html %}
            </div>
         </div>
         <div class="col-md-2 " >
             <div class="panel panel-primary">
                {% include banners/banner_6.html %}
             </div>
         </div>
    </div>
    <br>
    <div class="row equal-cols" style="text-align: center; height:25%;">
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
                {% include '../include_dash_page_1/incl_2.html' %}
            </div>
        </div>
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
                {% include '../include_dash_page_1/incl_1.html' %}
            </div>
        </div>
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
                {% include '../include_dash_page_1/incl_3.html' %}
            </div>
        </div>
    </div>
    <br>
    <div class="row equal-cols" style="text-align: center; height:25%;">
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
                {% include '../include_dash_page_1/incl_4.html' %}
            </div>
        </div>
               <div class="col-md-4">
            <div style="border:1px solid #000000;">
                <h4> Коэффициент мощности (cos(Fi))</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
                <h4> Коэффициент мощности (tg(Fi)), фаза 1, 2, 3</h4>
            </div>
        </div>
    </div>
     <br>
    <div class="row equal-cols" style="text-align: center; height:25%;">
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
                <h4>Энергии Р-, Р+, А+, A- на начало суток </h4>
            </div>
        </div>
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
                <h4>Энергии Р-, Р+, А+, A- на начало суток, Тарифная зона "День"</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
                <h4>Энергии Р-, Р+, А+, A- на начало суток, Тарифная зона "Ночь"</h4>
            </div>
        </div>
    </div>
         <br>
    <div class="row equal-cols" style="text-align: center; height:25%;">
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
            <h4>Энергия А+ за 1 час</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
             <h4>Энергия А+, A- за 30 минут</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
                <h4>Энергии Р-, Р+ за 30 минут</h4>
            </div>
        </div>
    </div>
    <br>
    <div class="row equal-cols" style="text-align: center; height:25%;">
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
            <h4>Частота сети</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
                <h4>Угол между векторами U I, фазы A, В, С</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
                <h4>Угол между фазными напряжениями, фазы 1-2, 2-3, 3-1</h4>
            </div>
        </div>

    </div>
    <br>
    <div class="row equal-cols" style="text-align: center; height:25%;">
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
            <h4>Активная мощность, фаза 1, 2, 3</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
                <h4>Реактивная мощность, фаза 1, 2, 3</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div style="border:1px solid #000000;">
                <h4>Суммарный ток</h4>
            </div>
        </div>
    </div>
{% end%}
